* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#accordionMenu {
  display: none;
}

header {
  background-color: #1a48a6;
  padding: 12px 0;
  position: fixed;
  width: 100%;
}

.header_content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.header_content ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.header_content a {
  color: #fff;
}

.header_content a:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* ----- ハンバーガーメニュー ----- */
.hamburger_content {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 36px;
  height: 36px;
  gap: 4px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger_content span {
  display: block;
  background: #fff;
  height: 2px;
  width: 70%;
  border-radius: 2px;
  transition: all 0.3s ease-in;
}

.hamburger_content.open span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.hamburger_content.open span:nth-child(2) {
  opacity: 0;
}
.hamburger_content.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
/* -------------------------------- */

.kv_content {
  background-image: url("../img/kv.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kv_content p {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  word-break: keep-all;
}

h2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.about_content h2,
.contact_content h2,
.about_content p {
  text-align: center;
}

.about_content p {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.underber_text {
  background: linear-gradient(transparent 60%, #f39200 30%);
  font-feature-settings: "palt";
}

.service_content {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service_btn_content {
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.service_btn {
  border: solid 3px gray;
  width: 200px;
  padding: 12px;
  text-align: center;
}

#webBtn.active,
#webBtn:hover {
  background-color: #b3ffff;
}

#seoBtn.active,
#seoBtn:hover {
  background-color: #ffdea0;
}

#mobileBtn.active,
#mobileBtn:hover {
  background-color: #a7ff99;
}

.service_detail {
  border: solid 3px gray;
  padding: 0 8px;
}

.service_detail.hidden {
  display: none;
}

/* ----- お問い合わせ ----- */
.contact_content {
  margin-bottom: 12px;
}

form label,
form input,
form select,
.required_message {
  display: block;
  margin: 0 auto;
  width: 500px;
}

form label,
.submit {
  margin-top: 10px;
}

form input,
form select {
  padding: 10px 0;
  border: solid 1px gray;
  font-size: 16px;
  box-sizing: border-box;
}

.required_text {
  color: red;
  font-size: 8px;
  margin-left: 6px;
}

.required_message {
  display: none;
  color: red;
  font-size: 12px;
}

/* ----- サンクスページ ----- */
.thanks_message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  word-break: keep-all;
  font-size: 30px;
}

@media screen and (max-width: 460px) {
  .kv_content p {
    font-size: 26px;
  }
}

@media screen and (max-width: 530px) {
  .about_content p {
    font-size: 16px;
  }

  .service_content {
    width: 300px;
  }

  form label,
  form input,
  form select,
  .required_message {
    width: 300px;
  }
}

@media screen and (max-width: 670px) {
  #accordionMenu {
    display: none;
    position: fixed;
    top: 60px;
    width: 100%;
    text-align: center;
    background-color: #1a48a6;
  }

  #accordionMenu a {
    color: #fff;
    font-weight: bold;
    padding: 12px 0;
    display: block;
    border-bottom: solid 1px #fff;
  }

  #accordionMenu:first-child {
    border-top: solid 1px #fff;
  }

  .header_content {
    position: relative;
  }

  #navMenu {
    display: none;
  }

  .hamburger_content {
    display: flex;
  }

  .kv_content p {
    font-size: 40px;
  }

  .about_content p {
    font-size: 20px;
  }

  .service_content {
    width: 500px;
  }

  .service_btn_content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
  }

  .thanks_message {
    font-size: 16px;
  }
}

@media screen and (max-width: 730px) {
  .about_content p {
    font-size: 24px;
  }

  .service_content {
    width: 500px;
  }

  .service_btn_content {
    width: 500px;
  }
  .service_btn {
    width: 140px;
    padding: 6px;
  }
}
